ul li a:hover {
  color: #22c55e;
  transform-origin: left;
  transform: scaleX(1.5);
  transition: all 0.3s ease;
  border-bottom: 1px solid #22c55e;
}

.icon a:hover {
  color: #f97316;
  transform-origin: top;
  transform: translateY(-3px);
  transition: all 0.2s ease-in;
}
